{{#if banners.bottom}}
<div class="banners" data-banner-location="bottom">
    <div class="banner">
        {{{limit banners.bottom 1}}}
    </div>
</div>
{{/if}}
<footer class="footer" role="contentinfo">
    <div class="footer-top">
        <div class="container">
        <section class="footer-info">
            <div class="footer-links">
                            <article class="footer-info-col footer-info-col--small links" data-section-type="footer-webPages">
                <h5 class="footer-info-heading links">{{lang 'footer.company'}}</h5>
                <ul class="footer-info-list">
                    <li><a href="/aboutus.html">About</a></li>
                    <li><a href="/locations.html">Our Locations</a></li>
                    <li><a href="/contactus.html">Contact Us</a></li>

                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small links" data-section-type="footer-categories">
                <h5 class="footer-info-heading links">{{lang 'footer.categories'}}</h5>
                <ul class="footer-info-list">
                    {{#each categories}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li><a href="giftcertificates.php">Gift Certificates</a></li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small links" data-section-type="footer-brands">
                <h5 class="footer-info-heading links">{{lang 'footer.customer'}}</h5>
                <ul class="footer-info-list">
                    <li><a href="/account.php">My Account</a></li>
                    <li><a href="/cart.php">Shopping Cart</a></li>
                    <li><a href="shipping-returns">Shipping &amp; Returns</a></li>
                    <li><a href="privacy">Privacy</a></li>

                </ul>
            </article>
            </div>
                    {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom'}}
            <article class="footer-info-col
                footer-info-col--social
                footer-info-col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
                data-section-type="footer-webPages">
                    <h5 class="footer-info-heading">{{lang 'social.connect'}}</h5>
                    {{> components/common/social-links}}
            </article>

        {{/if}}
                    <article class="footer-info-col newsletter-container" data-section-type="newsletterSubscription">
                {{#if settings.show_newsletter_box}}
                    {{> components/common/subscription-form}}
                {{/if}}
                {{> components/common/payment-icons}}
            </article>
        </section>
    </div>        
    </div>
    <div class="footer-bottom">
        <div class="container">
                    {{#if theme_settings.geotrust_ssl_common_name}}
            <div class="footer-geotrust-ssl-seal">
                {{> components/common/geotrust-ssl-seal}}
            </div>
        {{/if}}
        {{#if theme_settings.show_powered_by}}
            <div class="footer-copyright">
                <p class="powered-by">Powered by <a href="https://www.bigcommerce.com/" rel="nofollow">BigCommerce</a></p>
            </div>
        {{/if}}
        {{#if theme_settings.show_copyright_footer}}
            <div class="footer-copyright">
                <p class="secure-shop">
                    <img src="{{cdn '../img/ey-images/secure-shopping.png'}}" alt="">
                </p>
                <p class="powered-by">Copyright &copy; {{moment format="YYYY"}} {{settings.store_name}}. All Rights Reserved. Site design by <a href="http://www.eystudios.com/" target="_blank">EYStudios</a> </p>
            </div>
        {{/if}}
        </div>
    </div>

</footer>
