<nav class="navPages">
    <div class="navPage-heading">   
    <div class="close navPages-close" data-mobile-menu-toggle-close="menu"> 
    <i class="icon ion-close-round"></i>
            Close
    </div>
    </div>
    <ul class="navPages-list">
        <li class="navPages-item">
            <a class="navPages-action has-subMenu mob" href="/shop-all/" data-collapsible="navPages-23" aria-controls="navPages-23" aria-expanded="true">
                Jerky <i class="icon navPages-action-moreIcon" aria-hidden="true"></i>
            </a>
            <a class="navPages-action has-subMenu desk" href="/shop-all/">
                Jerky <i class="icon navPages-action-moreIcon" aria-hidden="true"></i>
            </a>
            <div class="navPage-subMenu" id="navPages-23" aria-hidden="false" tabindex="-1">
                <div class="mmLinks">
                    <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/beef/">Beef</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/turkey/">Turkey</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/kitchen/">Elk, Buffalo, Wild Boar</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/fish/">Fish</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/jerky-gifts/">Jerky Gifts</a>
                    </li>
                    <li class="navPage-subMenu-item shopAll">
                        <a class="navPage-subMenu-action navPages-action" href="/shop-all/">- Shop All Jerky -</a>
                    </li>
                </ul>
                </div>
                <div class="mmAD">
                    <a href=""><img src="{{cdn 'assets/img/ey-images/mm-ad-jerky.jpg'}}" alt=""></a>
                </div>
            </div>
        </li>
        <li class="navPages-item">
            <a class="navPages-action has-subMenu mob" href="/bath/" data-collapsible="navPages-24" aria-controls="navPages-24" aria-expanded="true">
                Smoked Meats <i class="icon navPages-action-moreIcon" aria-hidden="true"></i>
            </a>
            <a class="navPages-action has-subMenu desk" href="/bath/">
                Smoked Meats <i class="icon navPages-action-moreIcon" aria-hidden="true"></i>
            </a>
            <div class="navPage-subMenu" id="navPages-24" aria-hidden="false" tabindex="-1">
                <div class="mmLinks">
                    <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/beef/">Bacon</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/turkey/">Bone-In Hams</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/kitchen/">Boneless Hams</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/fish/">Ham Steaks</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/jerky-gifts/">Pork Loin Chops</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/jerky-gifts/">Canadian Bacon</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/jerky-gifts/">Sausages</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/jerky-gifts/">Smoked Turkey</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/jerky-gifts/">Gift Combinations</a>
                    </li>
                    <li class="navPage-subMenu-item shopAll">
                        <a class="navPage-subMenu-action navPages-action" href="/shop-all/">- Shop All Smoked Meats -</a>
                    </li>
                </ul>
                </div>
                <div class="mmAD">
                    <a href=""><img src="{{cdn 'assets/img/ey-images/mm-ad-smoked-meats.jpg'}}" alt=""></a>
                </div>
            </div>
        </li>
        <li class="navPages-item">
            <a class="navPages-action" href="/garden/">Gourmet Gifts</a>
        </li>
        <li class="navPages-item navPages-item-page">
            <a class="navPages-action" href="/locations/">Locations</a>
        </li>
    </ul>
    <div class="menuResource-links">
        <ul>
            <li><a href="">Contact Us</a></li>
            <li><a href="">About</a></li>
            <li><a href=""><span class="my-account"></span>My Account</a></li>
        </ul>
        <div class="menu-call"> Call Us <strong>888.624.6426</strong></div>
    </div>
</nav>