<nav class="navPages">
    <div class="navPage-heading">   
    <div class="close navPages-close" data-mobile-menu-toggle-close="menu"> 
    <i class="icon ion-close-round"></i>
            Close
    </div>
    </div>
    <ul class="navPages-list">
        <li class="navPages-item">
            <a class="navPages-action has-subMenu mob" href="/jerky.html" data-collapsible="navPages-23" aria-controls="navPages-23" aria-expanded="true">
                Jerky <i class="icon navPages-action-moreIcon" aria-hidden="true"></i>
            </a>
            <a class="navPages-action has-subMenu desk" href="/jerky.html">
                Jerky <i class="icon navPages-action-moreIcon" aria-hidden="true"></i>
            </a>
            <div class="navPage-subMenu" id="navPages-23" aria-hidden="false" tabindex="-1">
                <div class="mmLinks">
                    <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/jerky-beef-jerky.html">Beef</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/jerky-turkey-jerky.html">Turkey</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/jerky-elk---buffalo-jerky.html">Elk, Buffalo, Wild Boar</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/jerky-fish-jerky.html">Fish</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/jerky-gifts/">Jerky Gifts</a>
                    </li>
                    <li class="navPage-subMenu-item shopAll">
                        <a class="navPage-subMenu-action navPages-action" href="/jerky.html">- Shop All Jerky -</a>
                    </li>
                </ul>
                </div>
                <div class="mmAD">
                    <a href="/jerky.html"><img src="{{cdn 'assets/img/ey-images/mm-ad-jerky.jpg'}}" alt="Premium Jerky: Smoked &amp; Seasoned to Perfection"></a>
                </div>
            </div>
        </li>
        <li class="navPages-item">
            <a class="navPages-action has-subMenu mob" href="/pork.html" data-collapsible="navPages-24" aria-controls="navPages-24" aria-expanded="true">
                Smoked Meats <i class="icon navPages-action-moreIcon" aria-hidden="true"></i>
            </a>
            <a class="navPages-action has-subMenu desk" href="/pork.html">
                Smoked Meats <i class="icon navPages-action-moreIcon" aria-hidden="true"></i>
            </a>
            <div class="navPage-subMenu" id="navPages-24" aria-hidden="false" tabindex="-1">
                <div class="mmLinks">
                    <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/pork-bacon.html">Bacon</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/pork-bone-in-hams.html">Bone-In Hams</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/pork-boneless-hams.html">Boneless Hams</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/pork-ham-steaks.html">Ham Steaks</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/pork-pork-loin-chops.html">Pork Loin Chops</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/pork-canadian-bacon.html">Canadian Bacon</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/sausages.html">Sausages</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/smoked-turkey.html">Smoked Turkey</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="/gift-combinations.html">Gift Combinations</a>
                    </li>
                    <li class="navPage-subMenu-item shopAll">
                        <a class="navPage-subMenu-action navPages-action" href="/pork.html">- Shop All Smoked Meats -</a>
                    </li>
                </ul>
                </div>
                <div class="mmAD">
                    <a href="/pork-bacon.html"><img src="{{cdn 'assets/img/ey-images/mm-ad-smoked-meats.jpg'}}" alt="Double Smoked Bacon: Handtrimmed Since 1922"></a>
                </div>
            </div>
        </li>
        <li class="navPages-item">
            <a class="navPages-action" href="/gourmet-grocery.html">Gourmet Gifts</a>
        </li>
        <li class="navPages-item navPages-item-page">
            <a class="navPages-action" href="/locations.html">Locations</a>
        </li>
    </ul>
    <div class="menuResource-links">
        <ul>
            <li><a href="/contactus.html/">Contact Us</a></li>
            <li><a href="/aboutus.html/">About</a></li>
            <li><a href="/account.php"><span class="my-account"></span>My Account</a></li>
        </ul>
        <div class="menu-call"> Call Us <strong>888.624.6426</strong></div>
    </div>
</nav>