<div class="pagination">
    <ul class="pagination-list">
        {{#if previous}}
            <li class="pagination-item pagination-item--previous">
                <a class="pagination-link" href="{{previous}}" {{#unless reload}}data-faceted-search-facet{{/unless}}>
                    <i class="icon ion-android-arrow-dropleft" aria-hidden="true">

                    </i>
                   <!-- {{lang 'common.previous'}}-->
                </a>
            </li>
        {{/if}}
        This number: {{this.number}}
        {{#each links}}
            {{#if this.number '==' ../current}}
                <li class="pagination-item pagination-item--current">
                    <a class="pagination-link" href="{{this.url}}" {{#unless reload}}data-faceted-search-facet{{/unless}}>{{this.number}}</a>
                </li>
            {{else}}
                <li class="pagination-item">
                    <a class="pagination-link" href="{{this.url}}" {{#unless reload}}data-faceted-search-facet{{/unless}}>{{this.number}}</a>
                </li>
            {{/if}}
        {{/each}}

        {{#if next}}
            <li class="pagination-item pagination-item--next">
                <a class="pagination-link" href="{{next}}" {{#unless reload}}data-faceted-search-facet{{/unless}}>
                    <!--{{lang 'common.next'}}-->
                    <i class="icon ion-android-arrow-dropright" aria-hidden="true">

                    </i>
                </a>
            </li>
        {{/if}}
    </ul>
</div>
