<div class="container">
    {{{ snippet "forms_search"}}}
    <form class="form" action="{{urls.search}}">
        <fieldset class="form-fieldset">
            <div class="form-field">
                <input class="form-input" data-search-quick="" name="search_query" data-error-message="Search field cannot be empty." placeholder="Search the store" autocomplete="off">
                <input class="form-submit" type="submit" value="">
            </div>
        </fieldset>
    </form>
    <!--<section class="quickSearchResults" data-bind="html: results"></section>-->
</div>
