---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
customer:
    recently_viewed_products: true
---
{{#partial "page"}}
    <div class="product-breadcrumbs">
        <div class="container">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        </div>
    </div>
    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

    <div itemscope itemtype="http://schema.org/Product">
        {{> components/products/product-view schema=true}}

        {{>components/products/accordion}}
        {{#if product.related_products}}
               <div class="container ymal">  

            <h4>{{lang 'products.related_products'}}:</h4>

            {{> components/products/grid-product products=product.related_products columns=3}}
       </div>
       {{/if}}

       {{#if customer}}
       <div class="recentItems">  
            <div class="container"> 
            <h4>Recently Viewed:</h4>
            <form action="{{urls.compare}}" method="post">
            {{> components/products/grid-product products=customer.recently_viewed_products.items }}
            </form>
            </div>
       </div>
       {{else}}
       {{/if}}
    
    </div>

{{/partial}}
{{> layout/base}}
