<div class="tcolumn tcolumn1">
	World Famous <br>Mahogany Smoked Meats.
</div>
<div class="tcolumn tcolumn2">
	<div class="titem">
		<img src="{{cdn '/assets/img/ey-images/trust-lock.png'}}" alt="">
		100% Secure Checkout
		<span>256 bit encryption</span>
	</div>
	<div class="titem">
		<img src="{{cdn '/assets/img/ey-images/trust-ship.png'}}" alt="">
		Always Packed Fresh
		<span>Delivering exceptional quality since 1922!</span>
	</div>
</div>
<div class="tcolumn tcolumn3">
	<img src="{{cdn '/assets/img/ey-images/credit-cards.png'}}" alt="">
</div>