<div class="SubCategoryList" id="SubCategoryList">
	<ul class="subCatGrid">
		{{#each category.subcategories}}<li class="subcategory-item">
			<article class="card">
				<div class="card-wrap">
					<figure class="card-figure">
					{{#if image}}
					<a href="{{url}}" alt="{{name}}" title="{{name}}">
						<img class="card-image" src="{{getImage image}}">
					</a>
					{{/if}}
				</figure>
				<div class="card-body">
					<h4 class="card-title">
					<a href="{{url}}" alt="{{name}}" title="{{name}}">
						{{name}}
					</a>
					</h4>
				</div>
				</div>
			</article></li>{{/each}}
	</ul>
</div>